#
# Copyright (C) 2022 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on fs
    # Fingerprint
    chown system system /dev/goodix_fp

on post-fs-data
    # Fingerprint
    mkdir /data/vendor/goodix 0777 system system

on property:sys.boot_completed=1
    write /sys/class/asuslib/boot_completed 1

service vendor.secure_element_hal_service_1_2 /vendor/bin/hw/android.hardware.secure_element@1.2-service
    override
    disabled
    class hal
    user secure_element
    group secure_element
